p {
    color: #f4f5f6;
    font-size: 2em;
    margin-bottom: 20px;
}

.containerContact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerButtons {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    text-decoration: none;
    margin: 10px;
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.btn::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    left: 0;
    top: 0;
    border-radius: 10px;
}
/* glow */
.btn::before {
    content: '';
    background: linear-gradient(
        45deg,
        #ff0000,
        #002bff,
        #ff00c8,
        #002bff,
        #ff0000,
        #002bff,
        #ff00c8,
        #002bff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* hover */
.btn:hover::before {
    opacity: 1;
}

.btn:active:after {
    background: transparent;
}

.btn:active {
    /* color: #000; */
    font-weight: bold;
}
