.mainContainer {
    color: #f4f5f6;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 60px;
    font-size: 1.4em;
    position: absolute;
    width: 100%;

    /* border: 1px solid white; */
}

.containerList {
    display: flex;
    align-items: center;
}

.containerList ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.containerList ul li {
    margin-right: 50px;
}

.containerName {
    margin-left: 50px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.blueSpan {
    color: blue;
    padding: 4px;
}

.greenSpan {
    color: chartreuse;
    padding: 4px;
}

a {
    text-decoration: none;
    color: white;
    font-size: bold;
}

a:hover {
    text-decoration: underline;
}
