.containerPresentation {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #131218; */
    background-image: url('../img/background/earth.jpg');
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-size: bold ;
}

.mainContainerCards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #f4f5f6;
}

.separator {
    width: 800px;
    border: 1px solid white;
}

.containerSeparator {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerCards {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 40px;
    grid-template-areas:
        '. . .'
        '. . .';
}

.containerPortfolio {
    /* height: 600px; */
    background-color: #131218;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas: '. . .';
    margin-bottom: 50px;
    justify-items: center;
}

.contact {
    margin-bottom: 50px;
}

.portfolio {
    margin-bottom: 30px;
}

.darkBackground {
    background-color: #131218;
}

.portfolio {
    background-color: #131218;
}

.padding {
    padding-top: 20px;
}
