.mainContainerPortfolio {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #131218;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

a {
  background-color: #131218;
}

.imgPortfolio {
  box-shadow: 5px 5px 3px 1px #000000;
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.namePortfolio {
  color: #f4f5f6;
  font-size: 1.3em;
  background-color: #131218;
}

.imgPortfolio {
  width: 400px;
  height: auto;
  filter: brightness(1, 5);
}

.imgPortfolio:hover {
  filter: brightness(0.7);
}
